<%= form_for(@event_req) do |f| %>
  <% if @event_req.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_req.errors.count, "error") %> prohibited this event_req from being saved:</h2>

      <ul>
      <% @event_req.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :friend, "Event Name" %><br />
    <%= f.text_field :friend %>
  </div>
  <div class="field">
    <%= f.label :time, "Day:" %><br />
    <%= f.date_select :time %>
  </div>
    <div class="field">
    <%= f.label :when, "Time:" %><br />
    <%= f.time_select :when %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create Event", value="Create Event" %>
  </div>
<% end %>


