<h1>Listing event_reqs</h1>

<table>
  <tr>
    <th>Friend</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_reqs.each do |event_req| %>
  <tr>
    <td><%= event_req.friend %></td>
    <td><%= event_req.time %></td>
    <td><%= link_to 'Show', event_req %></td>
    <td><%= link_to 'Edit', edit_event_req_path(event_req) %></td>
    <td><%= link_to 'Destroy', event_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event req', new_event_req_path %>
